<!-- categories/index.erb -->
<fieldset>
  <legend>Categories</legend>

<table>
  <thead>
    <tr>
      <th>Category</th> <th colspan="2">Remaining</th> <th colspan="2">Total Spend</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @categories.each do |category| %>
      <% total_spent = Transaction.sum_by_category(category.id) %>
      <% budget_remaining = category.budget - total_spent %>
      <td><a href="/categories/<%= category.id %>/edit"><%= category.name %></a></td> <td>£</td> <td class="align-right <%= "warning" if budget_remaining < 0 %>"><%= Display.amount(budget_remaining) %></td> <td>£</td> <td class="align-right"><%= Display.amount(total_spent) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</fieldset>
