<!-- transactions/edit view -->


<fieldset>
  <legend>Edit Transaction</legend>
  <div class="">

    <div class="padding--4">

      <form class="" action="/transactions" method="get">
        <label for="cancel_action"></label>
        <input id="cancel_action"type="submit" name="cancel" value="Cancel">
      </form>
    </div>


    <form class="" action="/transactions/<%= @transaction.id %>" method="post">

      <div class="padding--4">
        <label for="amount_input">£ </label>
        <input id="amount_input" type="number" name="amount" value="<%= Display.amount(@transaction.amount) %>" step="0.01" autofocus="autofocus">
      </div>

      <div class="padding--4">
        <label for="transaction_date">Date: </label>
        <input id="transaction_date" type="date" name="transaction_date" value="<%= Display.date_dmy( @transaction.transaction_date) %>">
      </div>

      <div class="padding--4">
        <label for="account_select">Account: </label>
        <select id="account_select" class="" name="account_id">
          <% @accounts.each do |account| %>
          <% if account.id == @transaction.account_id %>
          <option value="<%= account.id %>" selected><%= account.name %></option>
          <% else %>
          <option value="<%= account.id %>"><%= account.name %></option>
          <% end %>
          <% end %>
        </select>
      </div>


      <div class="padding--4">
        <label for="vendor_select">Vendor: </label>
        <select id="vendor_select" class="" name="vendor_id">
          <% @vendors.each do |vendor| %>
          <% if vendor.id == @transaction.vendor_id %>
          <option value="<%= vendor.id %>" selected><%= vendor.name  %></option>
          <% else %>
          <option value="<%= vendor.id %>"><%= vendor.name  %></option>
          <% end %>
          <% end %>
        </select>
      </div>

      <div class="padding--4">
        <label for="category_select">Category: </label>
        <select id="category_select" class="" name="category_id">
          <% @categories.each do |category| %>
          <% if category.id == @transaction.category_id %>
          <option value="<%= category.id %>" selected><%= category.name %></option>
          <% else %>
          <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
          <% end %>
        </select>
      </div>

      <div class="padding--4">
        <label for="comment_input">Comment: </label>
        <input id="comment_input" type="text" size="50" name="comment" value="<%= @transaction.comment %>">
      </div>

      <div class="padding--4">
        <label for=""></label>
        <input class="confirm" type="submit" name="save_transaction" value="Save Changes">
      </div>

    </form>


    <div class="padding--4">

      <form class="" action="/transactions/<%= @transaction.id %>/delete" method="post">
        <input class="warning" type="submit" name="delete_transaction" value="Delete Transaction">

      </form>
    </div>
  </div>

</fieldset>
