<!-- /transactions/index.erb -->

<!-- TODO: filter by DATE -->

<div class="">
  <form class="" action="/transactions" method="get">
    <label for=""></label>
    <select class="" name="account_id">
      <% @accounts.each do |account| %>
      <option value="<%= account.id %>"><%= account.name %></option>
      <% end %>
    </select>
    <input type="submit" name="filter_by_account" value="Filter by Account">
  </form>
</div>

<div>
  <form class="" action="/transactions" method="get">
    <label for="select_category"></label>
    <select id="select_category" class="" name="category_id">
      <% @categories.each do |category| %>
      <!-- WANT A WAY TO HAVE THE CURRENT SELECTION SELECTED? -->
      <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
    <input type="submit" name="filter_by_category" value="Filter by Category">
  </form>
</div>

<div class="">
  <form class="" action="/transactions" method="get">
    <label for="select_vendor"></label>
    <select id="select_vendor" class="" name="vendor_id">
      <% @vendors.each do |vendor| %>
        <option value="<%= vendor.id %>"><%= vendor.name %></option>
      <% end %>
    </select>
    <input type="submit" name="filter_by_vendor" value="Filter by Vendor">
  </form>
</div>

<div class="">
  <form class="" action="/transactions" method="get">
    <label for="clear_filters"></label>
    <input id ="clear_filters" type="submit" name="" value="Clear Filters">
  </form>
</div>

<table>
  <caption><% if params["account_id"] || params["category_id"] || params["vendor_id"] %>
    Filtered Transactions
  <% else %>
    All Transactions
  <% end %></caption>
  <thead>
    <th>Date</th> <th>Account</th> <th>Vendor</th> <th>Category</th> <th colspan="2">Amount</th>
  </thead>
<% @transactions.each do |transaction| %>
<tr>
  <td> <%= Display.date_dmy(transaction.transaction_date) %></td> <td><%= transaction.account().name %></td> <td><%= transaction.vendor().name %></td> <td><%= transaction.category().name %></td> <td>£ </td> <td><%= Display.amount(transaction.amount) %></td> <td> <a href="/transactions/<%= transaction.id %>/edit">edit</a> </td>
</tr>


<% end %>
<tr>
  <td colspan="4">Total:</td> <td>£ </td> <td><%= Display.amount(Transaction.sum_filtered(@transactions)) %></td> <td></td>
</tr>
</table>




<!-- /transactions/index.erb -->
