<!-- /transactions/index.erb -->
<div>
  <form class="" action="/transactions" method="get">
    <label for="select_category"></label>
    <select id="select_category" class="" name="category_id">
      <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
    <input type="submit" name="filter_by_category" value="Filter by Category">
  </form>
</div>

<h2>All Transactions</h2>

<table>
  <thead>
    <th>Vendor</th> <th>Category</th> <th>Amount</th>
  </thead>
<% @transactions.each do |transaction| %>
<tr>
  <td><%= transaction.vendor().name %></td> <td><%= transaction.category().name %></td> <td><%= transaction.amount() %></td> <td> <a href="/transactions/<%= transaction.id %>/edit">edit</a> </td>
</tr>


<% end %>
<tr>
  <td colspan="2">Total:</td> <td><%= Transaction.sum_filtered(@transactions) %></td> <td></td>
</tr>
</table>




<!-- /transactions/index.erb -->
